*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

h3{
    font-size: 1.5rem;
}

ul{
    list-style: none;
    margin-left: 30px;
}

li{
    font-size: 1.2rem;
    /* margin-bottom: 10px; */
    padding: 10px;

}

.btnContainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    width: 90%;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.nextBtn, .previousBtn, .startBtn, .restartBtn{
    padding: 10px 20px;
    color:#fff;
    border: none;
    cursor: pointer;
}

.previousBtn{
    background-color: #6e2985;
}

.nextBtn{
    background-color: #0b5bc8;
}

.startBtn{
    background-color: #54c554;
}

.restartBtn{
    background-color: #273095;
}

.centerItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none{
    display: none;
}