*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(166, 64, 168);
}

#passwordForm{
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 25px;
}

.inputContainer{
    position: relative;
    margin-bottom: 10px;
}


input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    border-color: rgb(188 137 189);
    border-style: solid;
}

input::placeholder{
    font-size: 18px;
}

i{
    position: absolute;
    top: 8px;
    right: 8px;
    color: #757587;
}

button{
    padding: 10px 20px;
    background-color: rgb(166, 64, 168);
    border: navajowhite;
    color: #fff;
}